# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
notebook/.ipynb_checkpoints/*
notebook/.ipynb_checkpoints
